home
<!--			<div>-->
<!--				<h4>Ingredienti</h4>-->
<!--				<ul>-->
<!--					<li th:each="ingredient : *{ingredients}" th:object="${ingredient}">-->
<!--						[[*{nome}]]-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->




<!--			<div sec:authorize="hasAuthority('ADMIN')">-->
	
	
	<!--	<div sec:authorize="hasAuthority('ADMIN')">-->
		
		<!--	User: <SPAN SEC:AUTHENTICATION="NAME"></SPAN>-->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
foto form
<!--			<h4>Ingredienti:</h4>-->
<!--		<div th:each="ingredient : ${ingredients}" th:object="${ingredient}">-->
<!--			<input type="checkbox" th:id="${'ingredient-' + ingredient.id}" th:value="${ingredient.id}"-->
<!--				th:field="${pizza.ingredients}"-->
<!--				th:checked="${pizza != null && pizza.ingredients != null && pizza.ingredients.contains(ingredient)}">-->
<!--			<label th:for="${'ingredient-' + ingredient.id}" th:text="${ingredient.nome}"></label>-->
<!--			<br>-->
<!--		</div>-->